

@font-face {
  font-family: 'ArialNovaW07-Regular';
  src: url('../fonts/arialnova/Arial-Nova-W07-Regular/Arial-Nova-W07-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ArialNovaW07-Bold';
  src: url('../fonts/arialnova/Arial-Nova-W07-Bold/Arial-Nova-W07-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ArialNovaW07-Light';
  src: url('../fonts/arialnova/Arial-Nova-W07-Light/Arial-Nova-W07-Light.ttf') format('truetype');
}
