
@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import url('https://db.onlinewebfonts.com/c/e6404b5b984ecbc480bbeb17306ae946?family=Arial+Nova');



@import url("https://fonts.googleapis.com/css?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://db.onlinewebfonts.com/c/e6404b5b984ecbc480bbeb17306ae946?family=Arial+Nova");

@mixin getFontFamily(){
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'ArialNovaW07-Regular';
  src: url("../fonts/arialnova/Arial-Nova-W07-Regular/Arial-Nova-W07-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'ArialNovaW07-Bold';
  src: url("../fonts/arialnova/Arial-Nova-W07-Bold/Arial-Nova-W07-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'ArialNovaW07-Light';
  src: url("../fonts/arialnova/Arial-Nova-W07-Light/Arial-Nova-W07-Light.ttf") format("truetype"); }

  #root{
    height:100%;
    width:100%;
    position: absolute;
  }
  .main-page{
    background:$blackcolor;
    color:$whitecolor;
    height:100%;
    text-align:center;
}

body {
  @include getFontFamily();
}

* {
  @include getFontFamily();
 }
 a{
  text-decoration: none;
 }
 .mobile-menu{
  display: none;
}
 .standart-btn{
  a{
    border:1px solid $blackcolor;
    height: 40px;
    line-height: 40px;
    padding: 0px calc(20px + 15px) 0px 20px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color:$blackcolor;
    text-decoration: none;
    text-transform: uppercase;
    img{
        top:12px;
        right: calc(30px - 15px);
        height: 15px;
        width: auto;
        position: absolute;
        @include transition-method(0.2s);
    }
    &:hover{
      img{
        right: 10px;
        @include transition-method(0.2s);
      }
    }
  }
}


.standart-header{
  margin:80px 0px;
  text-align: center;
  h3{
      margin:40px 0px;
      font-size:60px;
  }
  p{
      font-size:18px;
  }
}

header{
  padding-top: 50px;
  position: relative;
  z-index: 999999;
  display: block;
  width: 100%;
  @include transition-method(0.2s);
  &.header-white{
    padding: 10px 0px;
    background:$whitecolor;
    @include transition-method(0.2s);
    @include boxShadow();
    nav{
      &.main-menu{
        ul{
          li{
            a{
              color:$blackcolor;
            }
          }
        }
      }
    }
  }
  .logo-section{
    padding: 5px 0px 0 0;
    a{
      img{
        height:50px;
      }
    }
  }
  nav{
    &.main-menu{
      float: right;
      ul{
        margin: 0;
        padding: 0;
        li{
          float: left;
          list-style: none;
          margin:0px 20px;
          padding:10px 0px;
          @include transition-method(0.2s);
          a{
            padding:0px 10px;
            color:$whitecolor;
            text-decoration: none;
            font-weight: bold;
            @include transition-method(0.2s);
          }
          &:hover{
            @include transition-method(0.2s);
            background:$lightGreyColor;
            @include boxShadow();
            @include borderradiusall(5px,5px, 0px,0px);
            a{
              color:$blackcolor;
              @include transition-method(0.2s);
            }
            ul{
              display: block;
            }
          }
          ul{
            position: absolute;
            background: $whitecolor;
            display: none;
            margin-top:10px;
            padding:10px;
            margin-left:-20px;
            @include borderradius(5px);
            li{
              float: none;
              margin:0px 5px;
              &:hover{
                background:$lightGreyColor;
                @include borderradius(5px);
               // box-shadow:none;
              }
              a{
                  padding: 5px;
              }
            }
            div {
              float: left;
              width: 50%;
            }
          }
        }
      }
    }
  }
}


.main-slider{
  .slider-content{
    text-align: center;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); 
    .slider-content-box{
      h3{
        color:$whitecolor;
        font-size:65px;
      }
      p{
        color:$whitecolor;
      }
      .slider-button{
        a{
          border:1px solid $whitecolor;
          height: 50px;
          line-height: 50px;
          padding: 0px calc(2rem + 20px) 0px 2rem;
          display: inline-block;
          position: relative;
          font-size: 24px;
          color:$whitecolor;
          text-decoration: none;
          text-transform: uppercase;
          img{
              top:15px;
              right: calc(2rem - 10px);
              height: 20px;
              width: auto;
              position: absolute;
              @include transition-method(0.2s);
          }
          &:hover{
            img{
              right: 1rem;
              @include transition-method(0.2s);
            }
          }
        }
      }
    }

  }
}
.pageheader{
  position:relative;
  img{
    height:50vh;
    object-fit:cover;
    width:100%
  }
  .page-header-content{
    text-align: center;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); 
    .page-header-content-box{
      h3{
        color:$whitecolor;
        font-size:55px;
        text-transform: uppercase;
         margin-bottom:40px;
      }
      p{
        color:$whitecolor;
      }
      .page-header-button{
        a{
          border:1px solid $whitecolor;
          height: 50px;
          line-height: 50px;
          padding: 0px calc(2rem + 20px) 0px 2rem;
          display: inline-block;
          position: relative;
          font-size: 24px;
          color:$whitecolor;
          text-decoration: none;
          text-transform: uppercase;
          img{
              top:15px;
              right: calc(2rem - 10px);
              height: 20px;
              width: auto;
              position: absolute;
              @include transition-method(0.2s);
          }
          &:hover{
            img{
              right: 1rem;
              @include transition-method(0.2s);
            }
          }
        }
      }
    }
  }
  .page-header-bottom{
    position: absolute;
    bottom: 0px;
    width:100%;
    .page-header-bottom-inside{
      position: relative;
    .page-header-menu{
      ul{
        padding: 0;
        margin:0;
        li{
          list-style:none;
          float: left;
          margin:15px 15px 15px 0;
          a{
            color:$whitecolor;
          }
        }
      }
    }
  }


  }
}

.main-content{
  padding:100px 0px;
  .page-content{
    p{
      padding:1rem 0;
      line-height: 30px;
    }
    img{
      width:100%;
    }
  }
}

.promo-box{
  padding: 20px 0px;
  display: flex;
  .promo-img{
    width: 100px;
    padding: 0px 20px;
   
    img{
      width: 100%;
      height: auto;
    }
  }
  .promo-inside{
    flex: 1 1;
    h3{
      margin: 15px 0px 50px 0;
      font-size: 33px;
      text-transform: uppercase;
      font-weight: bold;
  
    }
    p{

    }
    h5{
        margin:20px 0px;
    }
    ul{
      padding:0px;
      margin:0px;
      li{
        list-style: none;
        height:30px;
        line-height: 30px;
        i{
          margin:0px 10px 0 0 ;
        }
      }
    }
  }

}

.pages-header{
  @extend .standart-header;
  h3{
    font-size: 35px !important;
    font-weight: bold;
  }
}
.home-platform{
  .platform-header{
  @extend .standart-header;
  }
  .home-platform-box{
    padding: 20px 0px;
    display: flex;
    .platform-img{
      width: 100px;
      padding: 0px 20px;
     
      img{
        width: 100%;
        height: auto;
        @include borderradius(100%);
        background:$servicesgreycolor;
      }
    }
    .home-platform-inside{
      flex: 1 1;
      .home-platform-btn
      {
        margin:40px 0px;
        @extend .standart-btn;
      }
    }

  }
}

.home-partners{
  padding:100px 0px;

  #home-partners{
    .item{
      display: flex;
      align-items: center;
      height:100px;
      text-align: center;
      img{
        max-width: 100%;
        width:auto;
        margin: 0px auto;
      }
    }
  }
}

.home-solutions{
  background: $solutionGrey;
  padding:50px 0px;
  .home-solutions-header{
    @extend .standart-header;
  }
  .col-md-4{
    a{
      color:$blackcolor;
      text-decoration: none;
    }
  }
  .solution-box{
    text-align: center;
    padding:15px;
    @include borderradius(4px);
    @include transition-method(0.2s);

    .solution-img{
      img{
          width:70px;
          height: 70px;
          background: $servicesgreycolor;
          @include borderradius(100%);
      }
    }
    .solution-content{
      h3{
        margin:15px 0px;
        font-weight: bold;
      }
      p{  
          margin: 0px;
      }
    }  
    &:hover{
      background: $whitecolor;
      @include boxShadow();
      @include transition-method(0.2s);
      .solution-box-btn{
        visibility: visible;
      }
    }
    .solution-box-btn{
      visibility: hidden;
      cursor:pointer;
      margin:10px 0px;
      @extend .standart-btn;
    }
  }
}


footer{
  background:$footerGrey;
  padding:50px 0px;
  .footer-menu{
    h3{
      font-weight: bold;
      color:$footerTitleFontColor;
      margin-bottom:30px;
      text-transform: uppercase;
      font-size:20px;
      a{
        font-weight: bold;
        color:$footerTitleFontColor;
      }
    }
    ul{
      padding: 0;
      margin:0;
      li{
        list-style: none;
        height:30px;
        line-height: 30px;
        a{
          text-decoration: none;
          color:$footerFontColor;
        }
      }
    }
  }
  .footer-bottom{
    margin-top:40px;
    .copyright{
        p{
          color:$footerTitleFontColor;
          font-size:12px;
          font-weight: bold;
        }
    }
    .footer-bottom-menu{
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          float: left;
          margin:0px 10px;
          
          &:nth-child(1){
            margin: 0px;
          }
          a{
            color:$footerTitleFontColor;
            font-size:12px;
            font-weight: bold;
          }
        }
      }
    }
    .footer-social{
      float: right;
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          float: left;
          margin:0px 15px;
          a{
            i{
              color:$footerTitleFontColor;
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}




#gotopbtn{
  display: none;
  bottom: 50px;
  right: 20px;
  height: 40px;
  width: 40px;
  position: fixed;
  background-color:$whitecolor;
  border:1px solid $footerTitleFontColor;
  z-index: 999999;
  outline: 0px;
  @include transition-method(0.2s);
  &:hover{
    @include transition-method(0.2s);
    @include borderradius(10px);
  }
  i{
    color:$footerTitleFontColor;
    font-size: 30px;
    margin-top: 5px;
  }
  b{
    display: none;
    height: 10px;
    width: 100%;
    position: relative;
    z-index: 999999;

    margin-top: 5px;
    @include rotateMethod(180deg);
    i{
      @include rotateMethod(180deg);
    }
    .flame{
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../images/flame.png);
      background-size: 60px;
      position: relative;
      background-position: 20px;
      animation:firewawe  0.3s  infinite ;
    }
  }
}
